:root {
  --50: #fff8ed;
  --100: #fef0d6;
  --200: #fcdcac;
  --300: #fac377;
  --400: #f69e41;
  --500: #f3831c;
  --600: #ed6d14;
  --700: #bd4f11;
  --800: #973f15;
  --900: #793515;
  --95: #421908;
  --100-purple:#641bde;
  --font-bricolage:"Bricolage Grotesque", serif;
  --font-titan:"Titan One", serif;
  --font-dela:"Dela Gothic One", serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  width: 100%;
}
.mainDiv{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.wrapper {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
      font-family:"Bricolage Grotesque", serif;
  }
  .switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  
  .card-side::before {
    position: absolute;
    content: 'Seción';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
  }
  
  .card-side::after {
    position: absolute;
    content: 'Registrate';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
  }
  
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--input-focus);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .toggle:checked ~ .card-side:before {
    text-decoration: none;
  }
  
  .toggle:checked ~ .card-side:after {
    text-decoration: underline;
  }
  
  /* card */ 
  
  .flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
      /* width: 100%;
      height: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .toggle:checked ~ .flip-card__inner {
    transform: rotateY(180deg);
  }
  
  .toggle:checked ~ .flip-card__front {
    box-shadow: none;
  }
  
  .flip-card__front, .flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .flip-card__back {
    margin: 0 auto;
    width: 95%;
    transform: rotateY(180deg);
  }
  
  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
  }
  
  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .flip-card__input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .flip-card__btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  } 

  .h1{
    font-size: 2rem;
    color: var(--input-focus);
    font-family:system-ui;
    top: 0;
    position: absolute;
  }


/* nav initial Sesion */


.nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right:2rem;
  background-color: transparent;
}
.sectionHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeader figure{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 1rem;
}
.sectionHeader figure img{
  width: 100%;
}
.nav h3{
  font-family:var(--font-bricolage);
  font-weight: 800;
  font-family: 1rem;
  color: var(--95);
}
.menuContent{
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: 500;
  font-family: system-ui;
  gap: 1rem;
}
.menuContent a{
  text-decoration: none;
  color: var(--500);
}


.menu {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--200);
  border-radius: 30px;
}
.label {
  padding: 8px 18px;
  transition: all 200ms;
  display: inline-block;
}

.label input[type="radio"] {
  display: none;
}
.label > svg {
  transition: all 200ms;
  fill: var(--600);
  width: 14px;
  cursor: pointer;
}
.label:hover:not(:has(input:checked)) > svg {
  fill: var(--600);
  opacity: 0.6;
}
.label::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  top: 20px;
  background:var(--600);
  transition: all 200ms;
}
.label > svg {
  transition: 300ms;
  fill: var(--800);
  margin-top: 0;
}
.label:has(input:checked) > svg {
  fill: var(--800);
  scale: 1.2;
  margin-top: -5px;
}

.label:has(input:checked)::before {
  width: 100%;
  left: 0;
  top: 25px;
}

.section-menu {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
/* From Uiverse.io by javierBarroso */ 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: #234567;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  display: block;
  overflow: hidden;
  z-index: 1;
}

.cta::after {
  content: "Hover me";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: #fff;
  width: 9px;
  height: 21px;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  white-space: nowrap;
  padding: 12px 18px;
  z-index: 2;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  z-index: 2;
}
.dashboardInitial {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.section-heroTitle {
  display: flex;
  justify-content: space-around;
  font-family: var(--font-bricolage);
  align-items: center;
  width: 100%;
}
.section-heroTitle h1{
  font-size: 2rem;
  color: var(--95);
}
.info-tables-dates {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  place-items: center;
}
.sectionInfo-sectionDashboard {
  background: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
  box-shadow: 0 4px 8px rgba(243, 131, 28, 0.2);
  width: 370px;
  height: 150px;
  font-family: var(--font-bricolage);
  padding-left: 1rem;
  border: solid 1px #D4D4D8;
  gap: .5rem;
}
.SectionDateNum{
  font-family: var(--font-dela);
  font-size: 2rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  height: 40px;
  width: auto;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: var(--95);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  font-family: var(--font-bricolage);
}

.button:hover {
  background: rgb(248, 226, 193);
  color: rgb(33, 0, 85);
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: var(--800);
  background: linear-gradient(
    90deg,
    #ed6d14 5%,
    #9d41b8 50%,
    #3a7f3e 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* section add proyects */

.sectionAddProyects-container{
  width: 100%;
  height: 100vh;
  background-color: #ffffffa1 ;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}
.sectionAddProyects {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(to bottom, var(--100) 10%, #ffffff 40%);
  border-radius: 10px;
  box-shadow:4px 4px 16px rgb(201, 201, 201) ;
  box-sizing: border-box;
  z-index: 100;
}
.addProyects-Close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fileIcon {
  display: flex;
  width:50px ;
  height: 50px;
  background-color: var(--200);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.fileIcon span{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/img/carpeta.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.close-popUp {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/img/cruz-pequena.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .1s;
}
.close-popUp:hover{
  transform: scale(1.1);
  transition: .2s;
}
.paragraf-sectionAdd {
  font-family: var(--font-bricolage);
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: .7rem;
}
.paragraf-sectionAdd h3{
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.paragraf-sectionAdd p{
  margin: 0;
  font-size: 1rem;
}
.sectionAdd-form-file{
  display: flex;
  flex-direction: column;
  padding: .7rem;
  border:  2px #000 dotted;
  font-family: var(--font-bricolage);
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.sectionAdd-form-file .iconFileAdd{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/img/agregar-documento.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .2s;
  margin-block: 1.5rem;
}
.sectionAdd-form-file p{
  margin: 0;
  margin-top: .7rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.sectionAdd-form-file p span{
  color: var(--600);
  text-align: center;
}

/* animacion para cuando se haga el hover en el siv padre del file */

.animatedIconSave {
  transform: scale(1.2);
  transition: .2s;
}

.inputsComplemets{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.inputsComplemets input{
  font-family: var(--font-bricolage);
  font-size: 1rem;
  padding: .5rem;
  border-radius: 10px;
  border: solid 1px #b1b1b1;
  cursor: text;
}

.inputsComplemets input:hover {
  background-color: none; /* Sin cambio de color de fondo */
  border-color: none; /* Sin cambio en el borde */
  outline: none; /* Elimina el contorno */
}
.inputsComplemets input:active,
.inputsComplemets input:focus {
  background-color: transparent; /* Sin cambio de color de fondo */
  border-color: none; /* Sin cambio en el borde */
  outline: none; /* Elimina el contorno */
}



.rainbow-hover {
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: var(--100);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px var(--300),
    0px 4px 16px var(--200);
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
  margin-top: 1rem;
}

.sp {
  background: linear-gradient(
      90deg,
      var(--600),
      var(--400),
      var(--700),
      var(--700),
      var(--500)
      
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}
.table-responsive{
  max-width: 1200px;
}

.table-responsive{
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-family: var(--font-bricolage);
  border-collapse: collapse;
}
    .table thead th {
      background-color: var(--500);
      color: var(--95);
      text-align: center;
      padding: 12px 15px;
      width: 200px;
    }
    /* Estilo para las filas del cuerpo de la tabla */
    .table tbody td {
      text-align: center;
      padding: 12px 15px;
      border: 1px solid #ddd;
  }
   /* Estilo para las filas alternas (filas con fondo gris claro) */
   .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
